<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nuscomputing.ivle"
    android:versionCode="2"
    android:versionName="0.2.0" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:hardwareAccelerated="true" android:theme="@android:style/Theme.Holo" android:name="MainApplication">
        <activity
            android:name="MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.default_searchable" android:value=".SearchableActivity" />
        </activity>
        <service
            android:name="AuthenticatorService"
            android:exported="true"
            android:permission="android.permission.MANAGE_ACCOUNTS">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <activity android:name="AuthenticatorActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name="SettingsActivity"></activity>
        <activity android:name="SettingsActivityLegacy"></activity>
        <activity android:name="AccountSettingsActivity" android:launchMode="singleInstance" android:permission="android.permission.ACCOUNT_MANAGER">
            <intent-filter>
                <action android:name="com.nuscomputing.ivle.AccountSettingsActivity.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="AccountSettingsActivityLegacy" android:launchMode="singleInstance" android:permission="android.permission.ACCOUNT_MANAGER">
            <intent-filter>
                <action android:name="com.nuscomputing.ivle.AccountSettingsActivityLegacy.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider
            android:name=".providers.IVLEProvider"
            android:exported="true"
            android:authorities="com.nuscomputing.ivle.provider"
            android:syncable="true"
            android:enabled="true"
            android:label="IVLE Data"
        />
        <service android:name="IVLESyncService" android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/ivle_sync_adapter"/>
        </service>
        <activity android:name="ModuleActivity"></activity>
        <activity android:name="ViewAnnouncementActivity"></activity>
        <activity android:name="ViewWebcastActivity"></activity>
        <activity android:name="ViewWebcastFileActivity" android:immersive="true" android:screenOrientation="sensorLandscape" android:configChanges="orientation|keyboardHidden"></activity>
        <activity android:name="ViewWorkbinActivity"></activity>
        <activity android:name=".SearchableActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>